
.node circle {
  fill-opacity: 0.3;
}


.node text {
  font-family: Helvetica;
  font-weight: bold;
  /*
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;*/
}

.link {
  stroke: #ddd;
}
